{
	"presets": [
		["@babel/preset-env", {"modules": false}]
	],
	"plugins": [
		"angularjs-annotate",
		"@babel/plugin-proposal-private-methods",
		["@babel/plugin-proposal-pipeline-operator", { "proposal": "smart" }]
	]
}