body {
    font-family: sans-serif;
}

pre {
    border: 1px solid gray;
    padding: .5em;
}

pre,
.monospace {
    background-color: lightgrey;
    font-family: monospace;
}

.sample {
    margin: 1em 0;
    border-top: 2px dashed red;
}

.warning {
    font-style: italic;
    color: red;
}